<header class="d-flex justify-content-center py-3 mb-4 border-bottom sticky-top bg-white">
    <div class="row w-100">
        <div class="col">
            <a href="/"
               class="d-flex align-items-center px-2 mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img src="/static/img/icon.svg" width="45">
                <span class="fs-3 px-3" style="font-family: 'Helvetica Neue'">Ресторан El Diablo</span>
            </a>
        </div>
        <div class="col-6">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item"><a href="{% url 'booking:about' %}" class="btn btn-dark" aria-current="page">О ресторане</a></li>
                <li class="nav-item"><a href="#" class="btn btn-dark">Меню</a></li>
                <li class="nav-item"><a href="{% url 'booking:booking' %}" class="btn btn-dark">Бронирование</a></li>
            </ul>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-outline-primary me-2">Личный кабинет</button>
        </div>
    </div>
</header>